body{

font-family: Arial, sans-serif;

background:#f4f6f7;

margin:20px;

}



h1{

text-align:center;

color:#003b64;

}



.filters{

background:white;

padding:20px;

margin-bottom:20px;

border-radius:10px;

}



select{

padding:8px;

margin-right:30px;

}



.dashboard{

display:grid;

grid-template-columns:1fr 1fr;

gap:25px;

}



.chart{

background:white;

padding:15px;

border-radius:10px;

box-shadow:0px 2px 8px #aaa;

}



h2{

font-size:18px;

text-align:center;

}



.axis path,
.axis line{

stroke:black;

}



.tooltip{

position:absolute;

background:white;

padding:10px;

border:1px solid black;

border-radius:5px;

pointer-events:none;

}



.legend{

font-size:14px;

}

input{

padding:8px;

width:120px;

}


button{

padding:8px 15px;

background:#003b64;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}


button:hover{

background:#005b96;

}